<section class="bg-black h-screen w-screen text-center relative overflow-hidden text-black">
    <div class="relative z-30 h-screen w-screen flex flex-col">
        <header>
            <h2 class="pt-40 text-[40px] font-medium tracking-wider mb-1">
                Experience Tesla
            </h2>
        </header>
        <footer class="flex flex-grow flex-col justify-end pb-24">
            <div>
                <a class="border-[3.5px] hover:bg-white border-black bg-black text-white transition-colors duration-300 hover:text-black rounded text-sm px-[100px] py-2 inline-block" href="#">
                    Shop Now
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/Charge.avif"></img>
    </div>
</section>