<section class="bg-black h-screen w-screen text-center relative overflow-hidden text-black">
    <div class="relative z-30 h-screen w-screen flex flex-col">
        <header>
            <h2 class="pt-40 text-[40px] font-medium tracking-wider mb-1">
                Model X
            </h2>
            <p class="text-sm font-thi underline">
                Schedule a Demo Drive Today
            </p>
        </header>
        <footer class="flex flex-grow flex-col justify-end pb-24">
            <div class="gap-x-4 flex mg-auto justify-center">
                <a class="border-[3.5px] border-white bg-white text-black  rounded text-sm px-[100px] py-2 inline-block" href="#">
                    Custom Order
                </a>
                <a class="border-[3.5px] border-[#262626] bg-[#262626] text-white  rounded text-sm px-[100px] py-2 inline-block" href="#">
                    Demo Drive
                </a>
            </div>
        </footer>
    </div>

    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="object-center object-cover h-full w-full" src="/ModelX.avif"></img>
    </div>
</section>